.modal-load {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #8a2d62;
    background-image: url('../../img/font3.jpg');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}


/* Header */

.content {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 3em 0;
}

.box {
    background-color: #081c3073;
    padding: 6.25rem 1.25rem;
    border: 10px solid #fff;
    margin-top: 9%;
    box-shadow: 6px 6px 6px #010101;
}

.modal-load-2 {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #8a2d62;
    background-image: url('../../img/font3-2.jpg');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.modal-load-3 {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #8a2d62;
    background-image: url('../../img/font6.jpg');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}