 .tooltip2 {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip2 .tooltiptext2 {
        visibility: hidden;
        width: 400px;
        background-color: black;
        color: #fff;
        /*text-align: center;*/
        border-radius: 6px;
        padding: 15px;
        border: 5px solid #084c6f;
        box-shadow: 5px 5px 5px #ccc;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 105%;
    }

    .botones{
            transition: .5s;
        width: 100%;
        height: 13em;
        border-radius: 4px;
        margin-bottom: 10px;
        text-align: center;
        cursor: pointer;
        float: left;
        border: 2px dashed #ddd;
        font-size: 20px;
        display: block;
        color: #ddd;
          }
    .botones label{
        font-weight: normal;
        margin-top: 22%;
        text-decoration: none;
    }
    .botones:hover{
        background-color: #ddd;
        color: white;
    }
    .botones input{
        display: none;
    }
    .tooltip2:hover .tooltiptext2 {
        visibility: visible;
    }
     #Subirevidencia .modal-header{
        background: blue;
        text-align: center;
        font: inherit;
    }
    #Subirevidencia .close{
        color: black;
    }
    .submit{
        transition: .5s;
        border-style: solid;
        border-radius: 3px;
        border-color: #084c6f;
        background-color: #fff;
        font-size: 20px;
        color: #084c6f;
        padding: .5em;
        margin: 13px 0px;
    }
    .cont_modal{
        border: 2px solid #ddd;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .botones2{
          text-align: center;
    }
    .submit:hover{
        background-color: #084c6f;
        border-color: white;
        color: white;
    }
    .modal-title{
        color: white;
    }

    .it .btn-orange{
    background-color: blue;
    border-color: #777!important;
    color: #777;
    text-align: left;
    width:100%;
}
.it input.form-control{
    border:none;
  margin-bottom:0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}
.it .form-control:focus{
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#input1{
    width: 355px;
    left: -173px;
}
.fileUpload.btn.btn-success{
    left: -386px;
    top: -24px;
}
.botones2{
    margin-left: -1282px;
    position: relative;
    top: 25px;
}
.modal-footer{
    border-top: 0px solid #e5e5e5;
}