.contenedor_sticky {
    
    letter-spacing: 2px;
    font-weight: bold;
    z-index: 1;
    background-color: #fff;
    width: 25px;
    min-height: 250px;
    border: 1px solid #1f4c6f;
    color: #1f4c6f;
    position: fixed;
    left: 0;
    top: 200px;
    border-radius: 0px;
    cursor:pointer;
    transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    /*transition: all 0.4s ease-in-out;*/
}

.contenedor_sticky:hover {
    background: #084c6f;
    color: #ffffff;
}

.rotar {
    transform: rotate(45deg);
}

.contenedor_sticky .rotar{
     margin-top:90px;
}

.contenedor_menu_sticky {
    /*letter-spacing: 2px;*/
    /*font-weight: bold;*/
    font-size: 11px;
    z-index: 1;
    background-color: #fff;
    width: 136px;
    min-height: 250px;
    border: 1px solid #1f4c6f;
    color: #1f4c6f;
    position: fixed;
    left: 0;
    top: 200px;
    border-radius: 0px;
    background: #fff;
    /*cursor:pointer;*/
    /*transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);*/
    transition: all 0.4s ease-in-out;
}

.btn_cerrar_sticky{
    width:100%;
    background:#537e98;
    color:#fff;
    padding: 5px 0px;
    border-bottom: 1px solid #1f4c6f;
    cursor: pointer;
}

.menu-fixed ul{
    margin:0;
    padding: 0;
}

.menu-fixed li{
    cursor: pointer;
    padding: 2px 10px;
    border-bottom: 1px solid #537e98;
    transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);

}

.menu-fixed li:hover{
    background:#1f4c6f;
    color: #fff;
    width:115%;
    padding: 4px 20px;
    font-size: 13px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px #6d6d6d;
    border-radius: 0 15px 15px 0;
    border-left: 10px solid #fff;

}
.inactive {
    background: grey !important;
    color: #fff;
}

.err{
    border: 1.4px solid red !important;
    background: #dca7a747 !important;
    box-shadow: 0 0 5px 2px #e08585;
}