/*.modal-header{
    background-color: #207be5;
    color: #fff;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.91);
}
.modal-header h4{
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-family: verdana;
}

.modal-footer{
    background-color: #207be5;
    box-shadow: -1px -1px 9px rgba(0, 0, 0, 0.91);
}
.modal-footer button{
    height:30px;
    width:10%;
    padding:0;
    border: 1px solid #727272;
}
.foot {
    display:inline-block;
    float: left;
    margin: 0;
    font-size:13px;
    color:#fff;
    padding-top:16px

}
.modalImage {
	background-color: #fff;
    border-radius: 50%;
    width: 30px;
}*/
.modales_cami .modal-header{
    background-color: #084c6f;
    color: #f5f5f5;
    box-shadow: 1px 1px 16px rgba(10, 10, 10, 0.91);
    font-family:serif;
   /* border-radius: 10px;*/
}
.modales_cami .modal-header h4{
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-family: verdana;

}

.modales_cami .modal-footer{
    background-color: #084c6f;
    box-shadow: -1px -1px 9px rgba(0, 0, 0, 0.91);

}
.modales_cami .modal-footer button{
    height:30px;
    width:10%;
    padding:0;
    border: 1px solid #727272;
}
.modales_cami .foot {
    display:inline-block;
    float: left;
    margin: 0;
    font-size:13px;
    color:#fff;
    padding-top:16px

}
.modales_cami .modalImage {
    background-color: #fff;
    border-radius: 5%;
    width: 30px;
}

#mdl-cierre-facturacion{
    width: 12%;
}


.modales_cami .marg-t-15px {
    margin-top: 15px;
}

#modal_evidencias {
    margin-top: 15% !important;
}

#modal_evidencias .modal-content {
    height: auto;
}
#evidence-title, .center-content-evidence {
    display: flex;
    justify-content: center;
}

.btn-modal-style {
    margin: 3%;
    height: 60px;
    width: 22%;
    font-size: 21px;
}

#input-evidences {
    font-size: 16px;
    margin: 10px;
}


.error-field {
    box-shadow: 0 0 5px 3px #F77F7F;
    padding: 4px;
}